@model ToDoModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.CreatedAt.ToString("dd.MM.yyyy")</td>
    <td>@Model.Deadline.ToString("dd.MM.yyyy")</td>
    <td>@Model.Status</td>
</tr>