@model ToDoModel

@{
    bool isOverdue = @Model.Deadline < DateOnly.FromDateTime(DateTime.Now)
        && (@Model.Status != ("Completed")
        || @Model.Status == ("Failed"));
}

<tr class="@(isOverdue ? "overdue-task" : "")">
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.CreatedAt.ToString("dd.MM.yyyy")</td>
    <td>@Model.Deadline.ToString("dd.MM.yyyy")</td>
    <td>@Model.Status</td>
</tr>

@if (Model.Tags != null && Model.Tags.Any())
{
    <tr>
        <td colspan="5" class="tags-cell">
            <div class="tags-container">
                @foreach (var tag in Model.Tags)
                {
                    @(await Html.PartialAsync("_TagButton", tag))
                }
            </div>
        </td>
    </tr>
}